*{

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;

}
body{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.br{
    background: #d6f815;
}
.header{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}
.header p{
font-size: medium;
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.navbar{
    display: flex;
    margin-right: 10px;
}
.logo{
    margin-left: 30px;
}
.logo a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a{
    display: block;
    padding: 23px 20px;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a:hover{
background: #171717;

}
.message{
    padding-top: 10rem;
    font-size: 50px;
    text-transform: uppercase;
}
.texto{
    padding-top: 4rem;

}
.boton{
    background: #171717;
    color: azure;
}
.inf{
    text-transform: uppercase;
}
p,h3{
    text-transform: uppercase;
}
.texto1{
    background-color: blue;
    border-color: black;
}
.content13{
    padding-top: 4rem;
}